KAFKA_ADMIN_PASSWORD=change-me-admin
KAFKA_GENERATOR_PASSWORD=change-me-generator
KAFKA_SPARK_PASSWORD=change-me-spark
KAFKA_BROKER_PASSWORD=change-me-broker
KAFKA_CONTROLLER_PASSWORD=change-me-controller
KAFKA_CERTIFICATE_PASSWORD=change-me-certificate
